<mat-card class="example-card mat-elevation-z20 " appearance="outlined">

  <img  alt=".."   mat-card-image class="mt-2"      src="http://localhost:8080/api/v1/images/image/download/{{product().images[0].id}}">
  <mat-card-content>
    <mat-card-title>{{ product().name | titlecase }}</mat-card-title>
    <mat-card-subtitle  >{{ product().price| currency:'XOF' }}</mat-card-subtitle>
  </mat-card-content>

  <mat-card-actions class="is-centered mb-2">
    <button mat-raised-button (click)="navigateToDetails(product())">voir détails</button>
  </mat-card-actions>
</mat-card>
