<mat-card class="example-card mat-elevation-z20 " appearance="outlined">

  <img  alt=".."   mat-card-image [class]="product().images[0] ? 'mt-1 mb-2':'mb-2'"
        [src]="product().images[0]?image+product().images[0].id : imageDefault
  " >
  <mat-card-content class="mb-2">
    <mat-card-title>{{ product()!.name | titlecase }}</mat-card-title>
    <mat-card-subtitle  >{{ product()!.price| currency:'XOF' }}</mat-card-subtitle>
  </mat-card-content>

  <mat-card-actions class="is-centered mb-2">
    <button mat-raised-button (click)="navigateToDetails(product())">voir détails</button>
  </mat-card-actions>
</mat-card>
