.example-card {
    max-width: 250px;
    margin: 1rem 10px 0 0;
  }

  /*mat-card{
    background-color: #f3f3f3;
    color: black;
  }*/

img{
  width: 100%;
  max-width: 460px;
  min-height: 244px;
}


 /* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
*/
