
<mat-toolbar color="warn">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/">Dream Shop</span>
  @for (item of navItem; track item.name) {
    <div class="button-row ml-2">
      <a mat-button routerLink="{{ item.route }}">{{ item.name }}</a>
    </div>
  }

  <span class="example-spacer"></span>
  <!--search product-->
  <form class="example-form ">
    <mat-form-field class="example-full-width mt-3">
      <mat-label>Nom du produit</mat-label>
      <input type="text" matInput
             [formControl]="productNameControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{option.name}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>


<div class="ml-5">
  @if (isAuthenticated()){
    <a  mat-raised-button class="ml-3"
        (click)="logout()" >
      <mat-icon>power_settings_new</mat-icon>
      Déconnexion
    </a>
  } @else {
    @for (item of  navigationButtons;track item.name){
      <a mat-raised-button routerLink="{{item.route}}" class="ml-3">
        <mat-icon>{{item.icon}}</mat-icon>
        {{item.name | titlecase}}
      </a>
    }
  }
</div>

  <button mat-icon-button class="ml-3"  [matMenuTriggerFor]="themeMenu"  >
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #themeMenu>
    @for (theme of themeService.getThemes(); track theme.id) {
      <button mat-menu-item (click)="themeService.setTheme(theme.id)">
        <div class="theme-menu-item">
          <div
            class="color-preview"
            [style.background-color]="theme.primary"
          ></div>
          <span>{{ theme.displayName }}</span>
        </div>
      </button>
    }

  </mat-menu>
  <!-- badge panier  bouton menu -->
  <div  >
    <button mat-icon-button  class="demo-section ml-3 mt-2" (click)="navigateToCart()">
      <mat-icon matBadge="{{cartItemLength()}}" >shopping_bag</mat-icon>
    </button>
  </div>
  <!--cart menu content-->
<!--  <mat-menu #cartItemMenu>-->

<!--    @if (cartItems().length > 0){-->
<!--      @for (item of  cartItems(); track item.id){-->
<!--        <button mat  -menu-item style="display: flex" (click)="navigateToCart()">-->
<!--          <img class="" [src]="host+item.product!.images[0].downloadUrl" alt="..." width="30" height="30">-->
<!--          <span class="ml-2">{{item.product?.name | titlecase}}</span>-->
<!--          <span class="">{{item.totalPrice | currency: 'XOF'}}</span>-->
<!--        </button>-->
<!--      }-->
<!--    }-->
<!--  </mat-menu>-->
</mat-toolbar>
