
<mat-toolbar color="warn">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/">Dream Shop</span>
  @for (item of navItem; track item.name) {
    <div class="button-row ml-2">
      <a mat-button routerLink="{{ item.route }}">{{ item.name }}</a>
    </div>
  }

  <span class="example-spacer"></span>


  <button mat-icon-button class="switcher"  [matMenuTriggerFor]="themeMenu" class="ml-2">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #themeMenu>
      @for (theme of themeService.getThemes(); track theme.id) {
        <button mat-menu-item (click)="themeService.setTheme(theme.id)">
          <div class="theme-menu-item">
            <div
              class="color-preview"
              [style.background-color]="theme.primary"
            ></div>
            <span>{{ theme.displayName }}</span>
          </div>
        </button>
        }

  </mat-menu>
  @if (isAuthenticated()){
    <a  mat-raised-button
      (click)="logout()" class="ml-2">
      <mat-icon>power_settings_new</mat-icon>
      Déconnexion
    </a>
  } @else {
    @for (item of  navigationButtons;track item.name){
      <a mat-raised-button routerLink="{{item.route}}" class="ml-2">
        <mat-icon>{{item.icon}}</mat-icon>
        {{item.name | titlecase}}
      </a>
    }
  }
</mat-toolbar>
