.example-spacer {
  flex: 1 1 auto;
}
.button-row{
  display: flex;
  gap: 10px;
}
.switcher:hover{
  background-color: var(--mat-sys-primary);
}

mat-toolbar {
  justify-content: space-between;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}



mat-toolbar button.mat-icon-button {
  color: var(--mat-sys-on-primary);
}

.theme-menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.color-preview {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: var(--mat-sys-on-primary);
}
mat-icon{
  color: var(--mat-sys-primary-container);
}

/**
 autocomplete form
 */

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.demo-section + .demo-section {
  margin-top: 16px;
}
