<mat-card class="example-card mat-elevation-z20 " appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ product().name | titlecase }}</mat-card-title>
    <mat-card-subtitle>{{ product().brand | uppercase }}</mat-card-subtitle>
  </mat-card-header>
  <img  alt=".."   mat-card-image
         src="http://localhost:8080/api/v1/images/image/download/{{product().images[0].id}}">
  <mat-card-content>
    <p>
       {{ product().category.name | titlecase }}
    </p>
  </mat-card-content>
  <mat-card-actions class="is-centered mb-2">
    <button mat-raised-button (click)="navigateToDetails(product())">voir détails</button>
  </mat-card-actions>
</mat-card>
