.main{
  display: flex;
  gap: 10px 14%;
}

img{
    margin:  15px 10px 2px 1rem;
    max-width: 500px;
}
.container{
  display: inline-block;
  text-transform: capitalize;

}

@media  only screen and (max-width: 1080px) {
  img{
    max-width: 300px;
  }
}
