<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Les informations du produits sont requises.">
    <form [formGroup]="firstFormGroup" class="example-form">
      <ng-template matStepLabel>Remplir les infos du produits</ng-template>
      <mat-form-field class="ml-3">
        <mat-label>Nom</mat-label>
        <input matInput placeholder=" Nom du produit" formControlName="name" required>
      </mat-form-field>
      <mat-form-field class="ml-3">
        <mat-label>Inventaire</mat-label>
        <input matInput placeholder=" Inventaire" formControlName="inventory" required type="number">
      </mat-form-field >
      <mat-form-field class="ml-3">
        <mat-label>Prix Unitaire</mat-label>
        <input matInput placeholder="Prix unitaire" formControlName="price" required  type="number">
      </mat-form-field>
      <div>
        <p>Informations complémentaires</p>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Les informations complémentaires sont obligatoires.">
    <form [formGroup]="secondFormGroup" class="example-form">
      <ng-template matStepLabel>Marque & Categorie</ng-template>
      <mat-form-field class="ml-3">
        <mat-label>Marque</mat-label>
        <input matInput placeholder="Marque" formControlName="brand" required>
      </mat-form-field>
      <mat-form-field class="ml-3">
        <mat-label>Categorie</mat-label>
        <input matInput placeholder=" Category" formControlName="category" required>
      </mat-form-field>
      <mat-form-field class="ml-3">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder=" Category" formControlName="description" required></textarea>
      </mat-form-field>
      <div>
        <p>Go to a different step to see the error state</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Terminé</ng-template>
    <p>Enregistré</p>
    <div class="is-centered">
      <button mat-button matStepperPrevious class="ml-3">Retour</button>
      <button mat-stroked-button class="ml-3" (click)="stepper.reset()">Reset</button>
      <button mat-raised-button class="ml-3">Enregistrer</button>
    </div>
  </mat-step>
</mat-stepper>
