
mat-snackbar,.custom-snack {
  container-color: var(--mat-sys-on-secondary);
  supporting-text-color: var(--mat-sys-on-primary);
  button-color: var(--mat-sys-on-primary);
  text-align: center;
  background: var(--mat-sys-primary);
}

